@import '../../partials.module';

.wrapper {
  .quota {
    font-size: 2.4em;
    color: #f44336;
    padding: 0em 0px 1em;

    .footnote {
      font-size: 0.6em;
      margin-top: 0.4em;
    }
  }

  .disclaimer {
    @include mobile {
      margin: 0px 1em;
    }

    .contact {
      font-size: 1.2em;
      color: #f44336;
      padding: 0em 0px 1em;
      max-width: 400px;
    }

    .emailForm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .email {
        font-size: 1.5em;
        border: 1px solid white;
        background: white;
        padding: 0.2em;
        border-radius: 6px;
        padding: 0.3em 0.4em;

        @include mobile {
          box-sizing: border-box;
          width: 100%;
        }
      }

      .submit {
        font-size: 1.5em;
        background: #fff;
        border-radius: 8px;
        padding: 0.3em 0.5em;
      }
    }
  }

  .video {
    display: flex;
    margin-bottom: 2em;
    color: inherit;
    text-decoration: none;

    @include mobile {
      flex-direction: column;
      margin: 2em;
    }

    .thumbnail {
      box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.13);
      border-radius: 15px;
      width: 227px;
      height: 156px;
      object-fit: cover;
      margin-inline-end: 1.75em;
      flex: 0 0 auto;

      @include mobile {
        width: 100%;
        margin: 0px auto 1em;
      }
    }

    .metadata {
      .title {
        color: var(--text-color-default);
        margin-bottom: 0.5em;
        font-size: 1.75em;

        @include mobile {
          font-size: 1.3em;
        }
      }

      .description {
        color: var(--text-color-muted);
      }
    }
  }

  &.md {
  }

  .spinner {
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
  }
}
