.wrapper {
  border: none;
  background: #ffffff;
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  border-radius: 12px;
  position: relative;

  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
  }
}
