.wrapper {
  max-width: 980px;
  margin: auto;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // min-height: 100vh;
  // box-sizing: border-box;

  // .flex1 {
  //   flex: 1;
  // }

  a {
    color: inherit;
  }
}
