@import '../../partials.module';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    background: linear-gradient(
      var(--header-bg-color1),
      var(--header-bg-color2)
    );
    height: 260px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;

    .content {
      max-width: 980px;
      margin: auto;
      position: relative;
      height: 260px;

      .logo {
        display: inline-block;
        transform-origin: 0 0;
        font-size: 2.81em;
        color: #ffeb03;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 0.8em;
        filter: drop-shadow(0px 1px 1px #00000044);
      }

      .tagline {
        font-size: 1.65em;

        @include mobile {
          font-size: 1.7em;
          margin-top: -0.6em;
        }
      }

      .search {
        position: absolute;
        bottom: 0px;
        z-index: 1;

        @include mobile {
          width: calc(100vw - 4em);
        }

        .searchBox {
          input {
            outline: none;
            background: var(--input-bg-color);
            color: var(--input-color);
            border: 1px solid var(--search-border-color);
            border-radius: 15px;
            width: 100vw;
            max-width: 600px;
            box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.13);
            font-size: 1.7em;
            padding: 15px;

            @include mobile {
              width: 100%;
              box-sizing: border-box;
              font-size: 1.2em;
            }
          }
        }
      }

      .hero {
        width: 590px;
        position: absolute;
        bottom: -200px;
        height: 400px;
        right: -100px;
        z-index: 0;

        @include mobile {
          display: none;
        }
      }
    }

    &.mini {
      height: 90px;

      .content {
        height: 90px;
      }

      .logo {
        transform: translateY(-17px) scale(0.6);
      }

      .tagline {
        opacity: 0;
        pointer-events: none;
      }

      .hero {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .main {
    width: 980px;
    max-width: calc(100vw - 4em);
    margin: auto;
    margin-top: 3.5em;
    flex: 1;
  }
}
:global([dir='rtl']) .wrapper .header .content {
  .logo {
    transform-origin: 100% 0;
  }
  .hero {
    right: auto;
    left: -100px;
  }
}
