.wrapper {
  .header {
    background: linear-gradient(#a5ccf3, #bae1fc);
    height: 68px;
    padding: 0.6em 2em;
    box-sizing: border-box;
    position: relative;

    .content {
      max-width: 980px;
      margin: auto;
      position: relative;
      height: 68px;

      .logo {
        display: inline-block;
        transform-origin: 0 0;
        font-family: 'phosphate-solid';
        font-size: 2.3125em;
        color: #ffeb03;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        filter: drop-shadow(0px 1px 1px #00000044);
      }

      .search {
        position: absolute;
        bottom: -15px;
        z-index: 1;
        left: 190px;
        width: 100%;

        .searchBox {
          input {
            outline: none;
            background: #ffffff;
            border-radius: 15px;
            width: calc(100% - 235px);
            max-width: 600px;
            border: none;
            box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.13);
            font-size: 1.3em;
            padding: 12px;
          }
        }
      }

      .hero {
        width: 590px;
        position: absolute;
        bottom: -200px;
        height: 400px;
        right: -100px;
        z-index: 0;
      }
    }
  }

  .main {
    max-width: 980px;
    margin: auto;
    margin-top: 3.5em;
    display: flex;

    .playerWrapper {
      border-radius: 15px;
      overflow: hidden;
      display: inline-block;
      line-height: 0;
      flex: 0 0 auto;
      margin-inline-end: 2em;

      .remoteStateIndicaator {
        display: flex;
        align-items: center;
        background: #212121;
        line-height: 1.5;
        color: white;
        padding: 0.5em 0.8em;
        font-size: 1.2em;

        .icon {
          width: 40px;
          color: white;
          margin-inline-end: 0.7em;
        }
      }
    }

    .videoChatWrapper {
      flex: 0 0 250px;
    }
  }
}
