@import '../../partials.module';

// $videoWidth: 640px;

// @include mobile {
//   $videoWidth: calc(100vw)
// }

.wrapper {
  --video-width: 640px;
  --video-height: calc(640px * 9 / 16);

  @include mobile {
    --video-width: calc(100vw - 2em);
    --video-height: calc((100vw - 2em) * 9 / 16);
  }

  .header {
    background: linear-gradient(#a5ccf3, #bae1fc);
    height: 68px;
    padding: 0.6em 2em;
    box-sizing: border-box;
    position: relative;

    .content {
      max-width: 980px;
      margin: auto;
      position: relative;
      height: 68px;

      .logo {
        display: inline-block;
        transform-origin: 0 0;
        font-family: 'phosphate-solid';
        font-size: 2.3125em;
        color: #ffeb03;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        filter: drop-shadow(0px 1px 1px #00000044);

        svg {
          width: 160px;
          margin-top: 8px;
        }
      }

      .search {
        position: absolute;
        bottom: -15px;
        z-index: 1;
        left: 190px;
        right: 0px;

        .searchBox {
          input {
            outline: none;
            background: #ffffff;
            border-radius: 15px;
            width: 100%;
            box-sizing: border-box;
            max-width: 600px;
            border: none;
            box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.13);
            font-size: 1.3em;
            padding: 12px;
          }
        }
      }

      .hero {
        width: 590px;
        position: absolute;
        bottom: -200px;
        height: 400px;
        right: -100px;
        z-index: 0;
      }
    }
  }

  .container {
    max-width: 980px;
    margin: auto;
    margin-top: 3.5em;

    @include mobile {
      margin: 3.5em 1em 0px;
    }

    .videoAndVideoChat {
      display: flex;

      @include mobile {
        flex-direction: column;
      }

      .leftPane {
        border-radius: 15px;
        overflow: hidden;
        display: inline-block;
        line-height: 0;
        flex: 0 0 var(--video-width);
        margin-inline-end: 2em;
        align-self: center;
        // fix mobile iOS issue where border-radius not applied
        z-index: 1;

        @include mobile {
          flex: 0 0 auto;
          margin-inline-end: 0px;
          margin-bottom: 1em;
        }

        .playerWrapper {
          height: var(--video-height);
        }

        .remoteStateIndicaator {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #212121;
          line-height: 1.5;
          color: white;
          padding: 0.5em 0.8em;
          font-size: 1.2em;

          .icon {
            width: 40px;
            color: white;
            margin-inline-end: 0.7em;
          }
        }
      }

      .rightPane {
        flex: 0 1 auto;
      }
    }

    .shareBox {
      .shareLink {
        width: 640px;
        box-sizing: border-box;
        padding: 7px 8px;
        font-size: 1.1em;
        font-family: inherit;
        border-radius: 6px;
        border: 1px solid #ddd;

        @include mobile {
          width: 100%;
        }
      }
    }

    .actions {
      @include mobile {
        display: none;
      }
    }
  }

  .innerFlex {
    display: flex;
    align-items: inherit;
  }
}
